.footer__author {
  line-height: 25px;
  font-weight: normal;
  /* Хотя на мой взгляд следующая инструкция излишня, поскольку и без нее внешние границы у элемента
  сверху и снизу по 18px, но в задании это строго оговорено, поэтому пусть будет */
  margin: 18px 0;
}
